name: lint
on:
  push:
  pull_request:

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install lint tools
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install ansible

      - name: Yamllint
        run: yamllint .

      - name: Ansible-lint
        run: ansible-lint .
